version: "2.0"
services:
    pybullet_ros:
        image: pybullet_ros:latest
        volumes:
            - /tmp/.X11-unix:/tmp/.X11-unix:rw
            - $HOME/.Xauthority:/root/.Xauthority:rw
            - ./../src:/home/ros_user/src
            - ./../catkin_src:/home/ros_user/catkin_ws/catkin_src

    
     

        environment:
            - DISPLAY=$DISPLAY
            - QT_X11_NO_MITSHM=1
            

       # runtime: nvidia
        
        devices:
            - /dev/dri:/dev/dri
        privileged: true
        tty: true
        network_mode: "host"
